{% extends 'admin_index.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Register Recycler</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Recycler ID</label>
            <input type="text" class="form-control" name="recycler_id" required>
        </div><br><br>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" name="name" required>
        </div><br><br>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email" required>
        </div><br><br>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password" required>
        </div><br><br>
        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="text" class="form-control" name="phone" required>
        </div><br><br>
        <div class="mb-3">
            <label class="form-label">Profile Picture</label>
            <input type="file" class="form-control" name="profile_pic">
        </div><br><br>
        <div class="mb-3">
            <label class="form-label">Aadhar Number</label>
            <input type="text" class="form-control" name="aadhar_number" required>
        </div><br><br>
        <div class="mb-3">
            <label class="form-label">Panchayath Name</label>
            <input type="text" class="form-control" name="panchayath_name" required>
        </div><br><br>
        <button type="submit" class="btn btn-primary">Register Recycler</button>
    </form>
</div>
{% endblock %}